
<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="top-search">

			  <form id="search_form" class="search-form" role="search" method="post" action="{$BASE_URL}search/" autocomplete="on" onsubmit="return false;" >
			  	<input type="text" class="form-control" name="keywords" id="keywords" placeholder="{$translations.searchbar.input_text}">
			  	<button type="button" class="btn"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
			  </form>

		</div>
	</div>
</div>

