<div class="row board">
  <h2>Banned Job Seeker</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email Address</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>
      <tbody id='cons'>
      </tbody>
    </table>
</div>


<script type="text/javascript">  
  $.getJSON('http://jobboard.f9portal.net/get_banned_jobseeker?id={$ID}', function(data) {
   // $.getJSON('http://jobboard.f9portal.net/get_banned_jobseeker?id=9196', function(data) {
   contacts = data;
   console.log(contacts);

  for (let contact of contacts) {
    document.getElementById('cons').innerHTML += 
      '<tr>'+
        '<td>'+contact.fullname+'</td>'+
        '<td>'+contact.email+'</td>'+
        '<td>'+contact.phone+'</td>'+
      '</tr>';
  }
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>