<!doctype html>
<html lang="en">
<head>
	<title>{if $smarty.const.SITE_NAME}{$smarty.const.SITE_NAME} | Admin{else}Job board Admin{/if}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{$meta_description}" />
	<meta name="keywords" content="{$meta_keywords}" />
	<link rel="shortcut icon" href="jobboard.f9portal.net/../../fav.png" type="image/x-icon" />

	<link rel="stylesheet" href="{$BASE_URL}js/bootstrap/css/bootstrap.min.css" type="text/css" /> 
	<link href="{$BASE_URL}js/bootstrap/css/flat-ui.css" rel="stylesheet">
	<link href="{$BASE_URL}_tpl/{$THEME}/css/main.css" rel="stylesheet">
	<link href="{$BASE_URL}js/admin/lib/style.css" rel="stylesheet">
	<link href="{$BASE_URL}js/admin/lib/flat-green.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<script src="{$BASE_URL}js/jquery-1.11.2.min.js"></script>
	<script src="{$BASE_URL}js/bootstrap/js/bootstrap.min.js"></script>
	<script src="{$BASE_URL}js/admin/js/functions.js" type="text/javascript"></script>
	<script src="{$BASE_URL}js/admin/js/main.js" type="text/javascript"></script>
	<script src="{$BASE_URL}js/admin/js/overlay.js" type="text/javascript"></script>
</head>

<body>
	

	
